.close, .close-outline, .close {
  line-height: 1 !important;
  color: rgb(0, 0, 0) !important;
  background-color: #ADEBC9 !important;
  border-color: #ADEBC9 !important;
}

.close:hover,.close-outline:hover, .close.disabled, .close:disabled, .close:not(:disabled):not(.disabled):active, .close:not(:disabled):not(.disabled).active,
.show > .close.dropdown-toggle {
  color: rgb(0, 0, 0) !important;
  background-color: #ADEBC9 !important;
  border-color: #8DC2A5 !important;
}

.close:focus, .close-outline:focus, .close.focus, .close:not(:disabled):not(.disabled):active:focus, .close:not(:disabled):not(.disabled).active:focus,
.show > .close.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 139, 126, 0.5) !important;
}

#modal {
  padding-top: 10px;
  margin-right:auto;
  margin-left:auto;
  width:400px;
  height:100px;
  background-color:#ADEBC9;
  border-color: #8DC2A5;
  text-align: center;
}

#modal2 {
  padding-top: 10px;
  margin-right:auto;
  margin-left:auto;
  width:500px;
  height:185px;
  background-color:#ADEBC9;
  border-color: #8DC2A5;
  text-align: center;
}

#OK {
  margin-left: auto;
}

#Annuler {
  margin-right: auto;
}