/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

[hidden] { display: none !important;}

h3 {
    margin: 0 0 10px;
}
  
pre {
  background-color: #f5f5f5;
  padding: 15px;
}
  
.btn-secondary, .btn-outline-secondary, .btn {
  line-height: 1 !important;
  color: rgb(0, 0, 0) !important;
  background-color: #ADEBC9 !important;
  border-color: #ADEBC9 !important;
}
  
.btn-secondary-contrast, .btn-outline-secondary-contrast {
  line-height: 1 !important;
  color: rgb(0, 0, 0) !important;
  background-color: #98D3B3 !important;
  border-color: #8DC2A5 !important;
}
  
.btn-secondary:hover,.btn-outline-secondary:hover, .btn-secondary.disabled, .btn-secondary:disabled, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: rgb(0, 0, 0) !important;
  background-color: #ADEBC9 !important;
  border-color: #8DC2A5 !important;
}
  
.btn-secondary-contrast:hover,.btn-outline-secondary-contrast:hover, .btn-secondary-contrast.disabled, .btn-secondary-contrast:disabled, .btn-secondary-contrast:not(:disabled):not(.disabled):active, .btn-secondary-contrast:not(:disabled):not(.disabled).active,
.show > .btn-secondary-contrast.dropdown-toggle {
  color: rgb(0, 0, 0) !important;
  background-color: #98D3B3 !important;
  border-color: #7FAD94 !important;
}
  
.btn-secondary:focus, .btn-outline-secondary:focus, .btn-secondary.focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 139, 126, 0.5) !important;
}